.ui.modal > .header.modal-header {
  margin: 0;
  padding: 0 !important;
}

.fb-label {
  background-color: #2571d1;
  color: white;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.email-label {
  background-color: #5120b2;
  color: white;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

body.dimmable > .dimmer {
  background-color: rgba(22, 37, 55, 0.85) !important;
}

.invite-header {
  text-transform: capitalize !important;
  font-family: "Montserrat", sans-serif !important;
}

.ui.modal {
  z-index: 9999 !important;
  font-family: "Montserrat", sans-serif !important;
}

.ui.tiny.modal {
  z-index: 9999 !important;
  font-family: "Montserrat", sans-serif !important;
}

.ui.modal > .content {
  width: auto !important;
}

.ui.modal,
.ui.tiny.modal .active {
  padding: 0px !important;
}

.formField {
  width: 90% !important;
}

.campusSelect {
  width: 97%;
  outline: none !important;
}

@media only screen and (max-width: 600px) {
  .campusSelect {
    width: 100%;
  }
}

.email-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.email-confirm-header {
  font-size: 36px;
  margin-bottom: 10px;
}
